input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.view {
  display: flex;
  justify-content: space-between;
}

.strike-through {
  text-decoration: line-through;
  opacity: 90%;
  font-style: italic;
}
