.todo-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.todo-list li {
  padding: 18px 20px 18px 0;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
}
.todo-list li:last-child {
  border-bottom: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.todo-list {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.mark-all-container {
  display: flex;
  justify-content: flex-start;
}
